body{
  margin : 0px;
  padding: 0px;
  font-family: 'Inter', sans-serif;
}

.container{
  display: flex;
  width: calc(100vw);
  height: calc(100vh);
}

/* navigation panel component */
#navigation-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 272px;
}

#logo{
  display: flex;
  justify-content: center;
  align-items: center;
}
#logo > div {
  margin-left : 16px;
}
#logo_company-name{
  color : #5E81F4;
  font-size: 22px;
  line-height: 26px;
  font-weight: 600;
}

#join_button button{
  width: 192px;
  height: 40px;
  background-color: #5E81F4;
  color: white;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  line-height: 19.36px;
  border-radius: 14px;
  border-color: transparent;
}
/* CoursesBoard component */
#coursesBoard{

}

/* UserIngormation panel component */
#userInformation{
  width: 284px;
}