body{
  margin : 0px;
  padding: 0px;
  font-family: 'Inter', sans-serif;
}

.container{
  display: flex;
  width: calc(100vw);
  height: calc(100vh);
}

/* navigation panel component */
#navigation-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 272px;
}

#logo{
  display: flex;
  justify-content: center;
  align-items: center;
}
#logo > div {
  margin-left : 16px;
}
#logo_company-name{
  color : #5E81F4;
  font-size: 22px;
  line-height: 26px;
  font-weight: 600;
}

#join_button button{
  width: 192px;
  height: 40px;
  background-color: #5E81F4;
  color: white;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  line-height: 19.36px;
  border-radius: 14px;
  border-color: transparent;
}

#menu{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
}

.menu__item{
  display: flex;
  align-items: center;
  align-content: center;
  width: 100%;
}

.menu__item > div {
  margin-left: 23px;
  margin-top : 43px;
}

.menu__item__img{

}

.menu__item__text a{
  color:#8DA1B5;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  line-height: 19.39px;
}

#upgrade_button{
  width: 192px;
  height: 274px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
#upgrade_button button{
  width: 144px;
  height: 48px;
  color: white;
  background-color: #5E81F4;
  border-radius: 10px;
  border-color: transparent;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}
.upgrade_button__bgimg{
  position: absolute;
  z-index: -1;
  height: 232px;
  margin-top: 33px;
}
.upgrade_button_txt p{
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #778DAD;
  text-align: center;
}
/* CoursesBoard component */
#coursesBoard{

}

/* UserIngormation panel component */
#userInformation{
  width: 284px;
}